
.main {
    margin-top: 100px;

    &__title {
        padding: 32px 0 23px;
        font-size: 32px;
        font-weight: 400px;
        line-height: 40px;
        border-bottom: 1px solid #a8a8aa;
        margin: 0 52px 0 52px;

    }

    &__chat-btn {
        width: 64px;
        height: 64px;
        flex-shrink: 0;
        position: fixed;
        top: 725px;
        right: 30px;
        border: none;
        background: none;

        &__img-eclipse {
            width: 64px;
            height: 64px;
            flex-shrink: 0;

        }

        &__img-icon {
            width: 51.2px;
            height: 51.2px;
            flex-shrink: 0;
            position: absolute;
            right: 7px;
            top: 7px;

        }

    }

}

.plan-cards {
    display: flex;
    justify-content: space-between;
    padding: 24px 52px 0;
}

.card {
    width: 306px;
    height: 542px;
    border: 1px solid #A8A8A8;
    background: #F8FDFE;

    &__content-plan {
        display: flex;
        padding: 32px;
        flex-direction: column;
        gap: 16px;
        position: relative;

        &__img {
            position: relative;
            left: 33px;
        }

        &__chips-hit {
            display: flex;
            padding: 4px 8px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            position: absolute;
            border-radius: 4px;
            background: #4200FF;
            color: #F8FDFE;
            text-align: center;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
        }

        &__chips-new {
            display: flex;
            position: absolute;
            padding: 4px 8px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 4px;
            background: #AF39E7;
            color: #F8FDFE;
            text-align: center;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;

        }

        &__chips-off {
            display: flex;
            position: absolute;
            right: 160px;
            padding: 4px 8px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 4px;
            background: #EA33C0;
            color: #F8FDFE;
            text-align: center;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;

        }

        &__section-price {
            &__name-book {
                overflow: hidden;
                color: #1F1F1F;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 28px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

            }

            &__author-book {
                color: #8E8E8E;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                border-top: 1px solid #A8A8A8;

            }

            &__price {
                color: #E90000;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: 32px;

            }

            &__discount {
                color: #8E8E8E;
                font-size: 24px;
                font-weight: 500;
                line-height: 32px;
                text-decoration: line-through;

            }

            &__btn-add {
                display: flex;
                padding: 8px 24px;
                justify-content: center;
                align-items: center;
                align-self: stretch;
                border-radius: 4px;
                background: #4C394E;
                border: solid #4C394E;

                &:hover {
                    border-radius: 4px;
                    background: #744978;
                    border: solid #744978;

                }

                &__text-btn {
                    color: #F8FDFE;
                    text-align: center;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                }
            }



            &__end-up {
                display: flex;
                padding: 8px 24px;
                justify-content: center;
                align-items: center;
                align-self: stretch;
                border-radius: 4px;
                background: #4D762D;
                border: solid #4D762D;

                &:hover {
                    border-radius: 4px;
                    background: #6DB236;
                    border: solid #6DB236;

                }

                &__text-btn-end-up {
                    color: #F8FDFE;
                    text-align: center;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;

                }

            }






        }

    }

}