.footer {
    margin-top: 120px;
    padding: 16px 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    flex-shrink: 0;
    background-color: #4C394E;

    &__text {
        color: #F8FDFE;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
}
