.header {
    width: 100%;
    background-color: #EEEEEF;
    position: sticky;
    top: 0;
    z-index: 100;

    &__nav1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 52px;
        background: #10BBD5;
        margin: 0 auto;
    }

    &__logo {
        display: flex;
        align-items: center;
        gap: 4px;
        text-decoration: none;
        color: #f8fdfe;
        font-size: 24px;
        font-weight: 700;
    }

    &__basket-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }

    &__wallet {
        color: #F8FDFE;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }

    &__btn-basket {
        width: 40px;
        height: 40px;
        background: #10BBD5;
        border: #10BBD5;
        position: relative;
    }

    &__img-basket {
        width: 33.126px;
        height: 21.667px;
        flex-shrink: 0;
    }

    &__img-basket-o {
        width: 8.333px;
        height: 8.333px;
        flex-shrink: 0;
        position: relative;
        left: 2px;
        bottom: 3px;
    }

    &__btn-basket-figure {
        display: flex;
        justify-content: center;
        color: #000;
        font-style: normal;
        font-size: 12px;
        line-height: 10px;
        position: absolute;
        top: 9px;
        left: 19px;
        font-family: 'Cabin', sans-serif;
    }

    &__nav2 {
        display: flex;
        padding: 4px 52px;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        background: #FFF;
    }

    &__nav2-category {
        color: #000;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }

    &__nav2-category-list {
        display: flex;
        align-items: center;
        gap: 40px;
        list-style-type: none;
    }

    &__nav2-category-items {
        color: #000;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-decoration: none;
    }
}